*
{
    padding: 0;
    margin: 0;
    font-family: Open Sans,Arial,Helvetica,sans-serif,Heiti;
}
body
{
    background-color: skyblue;
}
.container
{
    width: 90%;
    margin: auto;
}
.clearfix
{
    clear: both;
}
header
{   
    padding: 20px 0 10px 110px;
    background-image: linear-gradient(rgb(106, 195, 230), white, rgb(101, 191, 226));
    
}
header p 
{
    display: inline-block;
    margin-left: 200px;
}
header p img 
{
    position: relative;
    top: -7px;
}
header p .a-k
{
    position: relative;
    top: -15px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
.line
{
    margin-top: 70px;
}
.line a 
{
    color: black;
    text-decoration: none;
}
.box-kartinka
{
    width: 230px;
    height: 320px;
    border: 3px solid grey;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}
.box
{
    width: 220px;
    height: 310px;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.box-kartinka:hover
{
    box-shadow: 0 0 20px rgb(37, 37, 37);
}
.box img
{
    border-bottom: 2px solid lightgray;
}
.info
{
    margin: 5px 15px;
}
.narxi
{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.company
{
    margin: 3px;
    float: right;
}
.company a
{
    color: gray;
    font-size: 14px;
    text-decoration: underline;
}
.rang_chegarasi
{
    border: 3px solid green;
}
footer 
{
    margin-top: 50px;
    background-color: purple;
    padding-bottom: 150px;
}
.birinchi_qator
{
    margin-left: 5%;
    padding-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    float: left;
}
.birinchi_qator p a
{
    color: white;
    text-decoration: none;
}
.birinchi_qator p
{
    padding: 5px 0;
}
.birinchi_qator p a:hover 
{
    text-decoration: underline;
}
.birinchi_qator p:active
{
    background-color: rgb(97, 1, 97);
}
.ikkinchi_qator
{
    margin-right: 5%;
    margin-top: 45px;
    color: white;
    float: right;
}
.ikkinchi_qator p
{
    padding: 5px;
}
.sticky
{
    right: 60px;
    bottom: 160px;
    position: fixed;
    background-image: linear-gradient(rgb(255, 255, 255), #999);
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50%;
}