@media only screen and (max-width: 481px)
{
    .container
    {
        width: 98%;
        margin: auto;
    }
    header img 
    {
        width: 60px;
        height: 21px;
        position: relative;
        top: -2px; 
    }  
    header p img
    {
        width: 20px;
        height: 20px;
        top: 34px;
    }
    header
    {
        padding: 10px 0 10px 13px;
         height: 18px;
    }
    header p .a-k
    {
        top: 28px;
        font-size: 13px;
        margin-left: 3px;
    }
    header p 
    {
        margin-left: 11%;
    }
    .line
    {
        margin-top: 10px;
    }
    /* ------------------------------ */
    .box-kartinka
    {
        width: 130px;
        height: 195px;
        border: 3px solid grey;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 3px 0 3px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: white;
    }
    .box
    {
        width: 120px;
        height: 185px;
        margin-top: 2px;
        margin-left: 2px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .box-kartinka:hover
    {
        box-shadow: 0 0 20px rgb(37, 37, 37);
    }
    .box img
    {
        width: 118px;
        margin: 1px 1px 0 1px;
        border-bottom: 2px solid lightgray;
    }
    .info
    {
        margin: 3px 10px;
    }
    .narxi
    {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .company
    {
        margin: 1px;
        float: right;
    }
    .company a
    {
        color: gray;
        font-size: 10px;
        text-decoration: underline;
    }
    .kiyim_nomi
    {
        font-size: 10px;
    }
    .rang_chegarasi
    {
        border: none;
    }
    .birinchi_qator
    {
        font-size: 12px;
        margin-top: 10px;
        padding: 0;
        width: 115px;
    }
    .ikkinchi_qator
    {
        margin-top: 10px;
        font-size: 12px;
    }
    footer 
    {
        padding-bottom: 70px;
        border-top: 2px solid green;
    }
}