@media only screen and (max-width: 576px)
{
    .container
    {
        width: 87%;
        margin: auto;
    }
    header {
        padding: 10px 0 10px 30px;
        height: 50px;
    }
    header p .a-k
    {
        font-size: 25px;
        position: relative;
        top: -17px;
    }
    header img 
    {
        width: 100px;
        height: 41.813px;
        position: relative;
        top: 5px;
    }
    header p
    {
        position: relative;
        top: -34px;
        left: -20px;
    }
    header p img 
    {
        width: 40px;
        height: 40px;
    }
    .box-kartinka
    {
        margin-right: 3px;
    }
    /* manzil bo'limi uchub sttle */
    .xarita iframe
    {
        width: 200px;
        height: 150px;
    }
    .xarita-1 .address, .xarita-2 .address
    {
        width: 184px;
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 11px;
        font-size: 19px;
    }
    .xarita-1, .xarita-2
    {
        padding: 5px 5px 0 5px;
        height: 264px;
    }
    .manzill
    {
        width: 184px;
        font-size: 14px;
    }
    .alert-succes
    {
        width: 400px;
        line-height: 20px;
    }
    article 
    {
        margin: 0;
        padding: 0;
    }
    .manzil h1
    {
        font-size: 25px;
    }
    .xarita h1
    {
        font-size: 20px;
    }
    /* box */
    .box-kartinka
    {
        width: 130px;
        height: 195px;
        border: 3px solid grey;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 3px 0 3px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: white;
    }
    .box
    {
        width: 120px;
        height: 185px;
        margin-top: 2px;
        margin-left: 2px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .box-kartinka:hover
    {
        box-shadow: 0 0 20px rgb(37, 37, 37);
    }
    .box img
    {
        width: 118px;
        margin: 1px 1px 0 1px;
        border-bottom: 2px solid lightgray;
    }
    .info
    {
        margin: 3px 10px;
    }
    .narxi
    {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .company
    {
        margin: 1px;
        float: right;
    }
    .company a
    {
        color: gray;
        font-size: 10px;
        text-decoration: underline;
    }
    .kiyim_nomi
    {
        font-size: 10px;
    }
    /* /box */
}

@media only screen and (max-width: 498px)
{
    .xarita-2
    {
        float: left;
        margin-top: 3px;
    }
    header p .a-k
    {
        font-size: 20px;
    }
    header p 
    {
        margin-left: 40%;
    }
    /* box */
    .box-kartinka
    {
        width: 130px;
        height: 195px;
        border: 3px solid grey;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 3px 0 3px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: white;
    }
    .box
    {
        width: 120px;
        height: 185px;
        margin-top: 2px;
        margin-left: 2px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .box-kartinka:hover
    {
        box-shadow: 0 0 20px rgb(37, 37, 37);
    }
    .box img
    {
        width: 118px;
        margin: 1px 1px 0 1px;
        border-bottom: 2px solid lightgray;
    }
    .info
    {
        margin: 3px 10px;
    }
    .narxi
    {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .company
    {
        margin: 1px;
        float: right;
    }
    .company a
    {
        color: gray;
        font-size: 10px;
        text-decoration: underline;
    }
    .kiyim_nomi
    {
        font-size: 10px;
    }
    /* /box */
}